In [44]:
sample  = {"Name":"Raja","Age":"25"}
print(sample)

{'Name': 'Raja', 'Age': '25'}

In [5]:
sample["Name"]

'Raja'

In [7]:
sample.get("Name")

'Raja'

In [11]:
sample["Name"] = "GKRaja"
sample

{'Name': 'GKRaja', 'Age': '25'}

In [12]:
for i in sample:
    print(i)

Name
Age

In [14]:
for i in sample.values():
    print(i)

GKRaja
25

In [15]:
for i in sample.items():
    print(i)

('Name', 'GKRaja')
('Age', '25')

In [45]:
sample['salary'] = 112133
sample.items()

dict_items([('Name', 'Raja'), ('Age', '25'), ('salary', 112133)])

In [19]:
del sample["Age"]
print(sample)

{'Name': 'GKRaja', 'salary': 112133}

In [20]:
sports = {}
for i in range(10):
    name = input("Name")
    score = int(input("score"))
    sports[name] = score
max_score = max(sports.values())

NameRaja
score10
Namesrav
score30
Namelak
score33
Namesravani
score66
Namelakshmi
score44
Nameraj
score36
NameRajs
score38
Namerajas
score34
Namerajr
score35
Namehaha
score23

In [25]:
max_score
sports.items()

dict_items([('Raja', 10), ('srav', 30), ('lak', 33), ('sravani', 66), ('lakshmi', 44), ('raj', 36), ('Rajs', 38), ('rajas', 34), ('rajr', 35), ('haha', 23)])

In [27]:
for i in sports.items():
    if i[1] == max_score:
        print(i,"-->",i[0])

('sravani', 66) --> sravani

In [35]:
# Read all the individual scores of the batsmen and print their rankings based on the scores

sports

{'Raja': 10,
 'srav': 30,
 'lak': 33,
 'sravani': 66,
 'lakshmi': 44,
 'raj': 36,
 'Rajs': 38,
 'rajas': 34,
 'rajr': 35,
 'haha': 23}

In [51]:
sorted(sports, key=sports.get, reverse=True)
sports
v
# for i in sports.values():
#     print(i)
# #     sorted(i)

['sravani',
 'lakshmi',
 'Rajs',
 'raj',
 'rajr',
 'rajas',
 'lak',
 'srav',
 'haha',
 'Raja']

In [53]:
{key: rank for rank, key in enumerate(sorted(sports, key=sports.get, reverse=True), 1)}

{'sravani': 1,
 'lakshmi': 2,
 'Rajs': 3,
 'raj': 4,
 'rajr': 5,
 'rajas': 6,
 'lak': 7,
 'srav': 8,
 'haha': 9,
 'Raja': 10}

In [54]:
sports

{'Raja': 10,
 'srav': 30,
 'lak': 33,
 'sravani': 66,
 'lakshmi': 44,
 'raj': 36,
 'Rajs': 38,
 'rajas': 34,
 'rajr': 35,
 'haha': 23}

In [15]:
d = {}
for i in range(3):
    m = input("Name")
    s = int(input("score"))
    d[m] = s
print(d)
{key: rank for rank, key in enumerate(sorted(d, key=d.get, reverse=True), 1)}

NameRaja
score33
NameRaj
score23
NameSrav
score43
{'Raja': 33, 'Raj': 23, 'Srav': 43}

{'Srav': 1, 'Raja': 2, 'Raj': 3}

In [35]:
g = sorted(d, key=d.get, reverse=True)
# m = {key: rank for rank, key in enumerate(g,1)}
type(m)
print(g)

['Srav', 'Raja', 'Raj']

In [29]:
# Given two integer find out the number of common factors to those integers

In [36]:
d = {}
for i in range(3):
    m = input("Name")
    s = int(input("score"))
    d[m] = s
print(d)

NameRaja
score44
Nameraj
score43
Namesrav
score27
{'Raja': 44, 'raj': 43, 'srav': 27}

In [40]:
g = sorted(d, key = d.get, reverse=True)
g

['Raja', 'raj', 'srav']

In [46]:
d = {"m":3,"g":8,"s":9,"p":6,}
l = d.values()
l = sorted(l,reverse=True)
rank = 1

for i in l:
    for j in d.items():
        if i == j[1]:
            print(j[0],rank)
            rank += 1

s 1
g 2
p 3
m 4

In [42]:
for i in d.items():
    index = l.index(i[1]) + 1
    print(i[0],index)

m 4
g 2
s 1
p 3

In [1]:
dir({}
   )

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [2]:
d={"Name":"Raja","Age":23}
d

{'Name': 'Raja', 'Age': 23}

In [4]:
m=d.copy()
m

{'Name': 'Raja', 'Age': 23}

In [12]:
m.get('Name')
m.keys()
m.items()
m.values()

dict_values([23])

In [11]:
m.pop('Name')

KeyError: 'Name'

In [13]:
m

{'Age': 23}

In [14]:
m.popitem()

('Age', 23)

In [15]:
m

{}

In [20]:
m.update({"Name":"Raja","hai":"hgfgh"})
m

{'Name': 'Raja', 'hai': 'hgfgh'}

In [22]:
m.setdefault('Name')

'Raja'

In [23]:
m

{'Name': 'Raja', 'hai': 'hgfgh'}

In [24]:
m.setdefault('hai')

'hgfgh'

In [25]:
m

{'Name': 'Raja', 'hai': 'hgfgh'}