# Tuples

### What is Tuples?

- A Tuple is a sequence of immutable Python objects. Tuples are sequences, just like Lists. 
- A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas, in a list, elements can be changed.

* A tuple is created by placing all the items (elements) inside parentheses (), separated by commas. The parentheses are optional, however, it is a good practice to use them.

* A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.).

#### The differences between tuples and lists are:

* Tuples cannot be changed unlike lists
* Tuples use parentheses (), List use square brackets [].

**Syntax**

`tuple = ()`

In [1]:
tuple1 = ("Raja", "Raj", "srv")
print(tuple1)

('Raja', 'Raj', 'srv')

In [3]:
# Empty tuple
my_tuple = ()
print(my_tuple)  # Output: ()

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)  # Output: (1, 2, 3) 

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)  # Output: (1, "Hello", 3.4)  

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# Output: ("mouse", [8, 4, 6], (1, 2, 3)) 
print(my_tuple)

my_tuple = ("hello")
print(type(my_tuple))  # <class 'str'>

# Creating a tuple having one element
my_tuple = ("hello",)  
print(type(my_tuple))  # <class 'tuple'> 

# Parentheses is optional
my_tuple = "hello",
print(type(my_tuple))  # <class 'tuple'>

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))
<class 'str'>
<class 'tuple'>
<class 'tuple'>

## Accessing Values in Tuples

#### 1. Indexing
* We can use the index operator [] to access an item in a tuple where the index starts from 0.

* So, a tuple having 6 elements will have indices from 0 to 5. Trying to access an element outside of tuple (for example, 6, 7,...) will raise an IndexError.

* The index must be an integer; so we cannot use float or other types. This will result in TypeError.

* Likewise, nested tuples are accessed using nested indexing, as shown in the example below.

In [4]:
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])   # 'p' 
print(my_tuple[5])   # 't'

# IndexError: list index out of range
# print(my_tuple[6])

# Index must be an integer
# TypeError: list indices must be integers, not float
# my_tuple[2.0]

# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[0][3])       # 's'
print(n_tuple[1][1])       # 4

p
t
s
4

#### 2. Negative Indexing
- Python allows negative indexing for its sequences.

- The index of -1 refers to the last item, -2 to the second last item and so on.

In [5]:
my_tuple = ('p','e','r','m','i','t')

# Output: 't'
print(my_tuple[-1])

# Output: 'p'
print(my_tuple[-6])

t
p

#### 3. Slicing
- We can access a range of items in a tuple by using the slicing operator - colon ":".

In [6]:
my_tuple = ('p','r','o','g','r','a','m','i','z')

# elements 2nd to 4th
# Output: ('r', 'o', 'g')
print(my_tuple[1:4])

# elements beginning to 2nd
# Output: ('p', 'r')
print(my_tuple[:-7])

# elements 8th to end
# Output: ('i', 'z')
print(my_tuple[7:])

# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

#### Changing a Tuple
- Unlike lists, tuples are immutable.

- This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

- We can also assign a tuple to different values (reassignment).

In [9]:
my_tuple = (4, 2, 3, [6, 5])


# TypeError: 'tuple' object does not support item assignment
# my_tuple[1] = 9

# However, item of mutable element can be changed
my_tuple[3][0] = 9    # Output: (4, 2, 3, [9, 5])
print(my_tuple)

# Tuples can be reassigned
my_tuple = ('p','r','o','g','r','a','m','i','z')

# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple)

(4, 2, 3, [9, 5])
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

- We can use + operator to combine two tuples. This is also called concatenation.

- We can also repeat the elements in a tuple for a given number of times using the * operator.

- Both + and * operations result in a new tuple.

In [12]:
# Concatenation
# Output: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))

coral = ('blue coral', 'staghorn coral', 'pillar coral', 'elkhorn coral')
kelp = ('wakame', 'alaria', 'deep-sea tangle', 'macrocystis')

coral_kelp = (coral + kelp)

print(coral_kelp)

# Repeat
# Output: ('Repeat', 'Repeat', 'Repeat')
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('blue coral', 'staghorn coral', 'pillar coral', 'elkhorn coral', 'wakame', 'alaria', 'deep-sea tangle', 'macrocystis')
('Repeat', 'Repeat', 'Repeat')

In [11]:
numbers = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

print(numbers[1:11:2])

(1, 3, 5, 7, 9)

![](raja.png)

In [13]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

### Check if Item Exists

- To determine if a specified item is present in a tuple use the in keyword:

In [14]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

### Tuple Functions

In [15]:
len(thistuple)

3

#### max() and min()
- When we work with tuples composed of numeric items, (including integers and floats) we can use the max() and min() functions to find the highest and lowest values contained in the respective tuple.

- These functions allow us to find out information about quantitative data, such as test scores, temperatures, prices, etc.

- Let’s look at a tuple comprised of floats:

In [16]:
more_numbers = (11.13, 34.87, 95.59, 82.49, 42.73, 11.12, 95.57)
print(max(more_numbers))
print(min(more_numbers))

95.59
11.12

#### Tuple Methods
- Methods that add items or remove items are not available with tuple. Only the following two methods are available.


count(x)	Returns the number of items x
index(x)	Returns the index of the first item that is equal to x

In [17]:
my_tuple = ('a','p','p','l','e',)

print(my_tuple.count('p'))  # Output: 2
print(my_tuple.index('l'))  # Output: 3

2
3

#### Deleting a Tuple

In [18]:
my_tuple = ('p','r','o','g','r','a','m','i','z')

# can't delete items
# TypeError: 'tuple' object doesn't support item deletion
# del my_tuple[3]

# Can delete an entire tuple
del my_tuple

# NameError: name 'my_tuple' is not defined
print(my_tuple)

NameError: name 'my_tuple' is not defined

### Updating Tuples

In [22]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print (tup3);

(12, 34.56, 'abc', 'xyz')

[Refrence](https://www.tutorialspoint.com/python/python_tuples.htm)

##### 1	cmp(tuple1, tuple2)
Compares elements of both tuples.

###### 2	len(tuple)
Gives the total length of the tuple.

##### 3	max(tuple)
Returns item from the tuple with max value.

###### 4	min(tuple)
Returns item from the tuple with min value.

###### 5	tuple(seq)
Converts a list into tuple.

In [4]:
l = [4, 4, 5, 6]
s=tuple(l)
s

(4, 4, 5, 6)

In [5]:
a = []
b = 1,2,3,5

In [7]:
c = list(b)
c

[1, 2, 3, 5]

In [1]:
dir(tuple
   )

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [4]:
m=('Raja','23','boy')
(Name,Age,M)=m
Name

'Raja'